DB_DRIVER=sqlite3
BOT_NAME=Teto
DB_PARAMS=file:examplestore.db?_foreign_keys=on
CREATOR_NUMBER=
AWS_ENDPOINT_URL=
STORAGE_TYPE=LOCAL
S3_BUCKET_NAME=
COBALT_URL=
COBALT_API_KEY=
BROADCAST_PASSWORD=example
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
